In [17]:
coffee = 3

## while 조건식이 true일 경우 while 문의 실행문 실행함

In [18]:
#while coffee < 10:
#    print("")

## while문을 이용하여 아래의 내용을 채우세요 <br>
하루마다 키가 5센치미터씩 자랍니다. <br>
키가 323cm 이상이면 그때의 키값을 한번만 출력하세요

In [81]:
height = 50
height_sum = 0
day = 0

In [80]:
while(1):
    if(height > 323):
        print("heghit = %d" %height)
        print("day = %d" %day)
        print("height_sum = %d" %height_sum)
        break
    height = height + 5
    height_sum = height_sum + height
    day = day + 1

heghit = 325
day = 55
height_sum = 10450

## 문제4) 격일로의 총 키의 누적합을 구하세요

In [83]:
while(1):
    if(height > 323):
        print("height = %d" %height)
        print("day = %d" %day)
        print("height_sum = %d" %height_sum)
        break
    
    day = day + 1
    height = height + 5
    
    if(day%2 == 0):
        height_sum = height_sum + height

height = 325
day = 55
height_sum = 5130

반복문에서 break, 와 continue문을 구별하자<br>
break를 만나면 반복문을 탈출하고 continue문을 만나면 아래 문장을 실행하지 않고 반복문의 처음으로 돌아감

In [87]:
a = 0
while a<30:
    a = a + 1
    if a%5 == 0:
        break
    print(a)

1
2
3
4

<h2>자바에서는</h2>
<h3>for문의 기본구조</h3>
for (int i = 0; i < 10; ++i)<br>
{
    <ul>
        <li>수행할 문장</li>
        <li>수행할 문장</li>
    </ul>
}

In [91]:
test_list = ['one', 'two', 'three']

In [92]:
for i in test_list:
    print(i)

one
two
three

In [97]:
a = [(1,2),(3,4),(5,6)]

In [98]:
for (first, last) in a:
    print(first + last)

3
7
11

In [99]:
z = [[1,2,],[3,4],[5,6]]

In [101]:
for i in z:
    for j in i:
        print(j)

1
2
3
4
5
6

In [105]:
z1 = [[1,2,3],[4,5,6],[6,7,8]]

In [107]:
for [i,j,k] in z1:
    print(i)

1
4
6

In [108]:
(a,b,c,d) = (2,3,4,6)
d

6

In [113]:
tt = [[1,2],[3,4],[5,6]]
sum1 = 0
for i in tt:
    for j in i:
        print(j)
        sum1 = sum1 + j
print()
print(j)

1
2
3
4
5
6

6

In [122]:
rr = [[[1,2,3],[4,5,6]],[[7,8,9],[11,12,23]]]

In [123]:
sum2 = 0

In [124]:
for i in rr:
    for j in i:
        for k in j:
            sum2 = sum2 + k
print(sum2)

91

## 총 5명의 학생이 시험을 보았는데, 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여주세요

In [127]:
marks = [90,25,67,80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다" %number)
    else:
        print("%d번 학생은 불합격입니다" %number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 합격입니다

In [130]:
marks = [90,25,67,80]
number = 0
for mark in marks:
    number = number + 1
    if mark <60:
        continue
        
    print("%d번 학생 축하합니다" %number)

1번 학생 축하합니다
3번 학생 축하합니다
4번 학생 축하합니다

In [131]:
a = range(10)
a

range(0, 10)

In [132]:
for i in a:
    pass

In [133]:
temp1 = [2,3,4,5,6,7,8,11,13,17]

In [137]:
for i in range(10):
    print(temp1[i])

2
3
4
5
6
7
8
11
13
17

In [138]:
for i in range(1,8):
    pass

In [144]:
add = 0
for i in range(1,111):
    add = add + 1
print(add)

110

In [145]:
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다" %(number+1))

1번 학생 축하합니다
3번 학생 축하합니다
4번 학생 축하합니다

In [146]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [148]:
a = [1,2,3,4]
result = []

In [149]:
for num in a:
    result.append(num*3)
result

[3, 6, 9, 12]

In [151]:
result = [i*3 for i in a if i%2==0]
result

[6, 12]

In [154]:
result2 = [2,4,5,11,14,22,33,19,3,18]
result3 = [10*i for i in result2 if i%3==0]
result3

[330, 30, 180]